## 🔐 SSH Login Alert

> **Host:** <font color="comment">{{.Hostname}}</font>
> **User:** <font color="warning">{{.Username}}</font>
> **From IP:** <font color="comment">{{.IP}}</font>
> **Client Port:** <font color="comment">{{.Port}}</font>
> **Method:** <font color="comment">{{.Method}}</font>
> **Time:** <font color="comment">{{.Time.Format "2006-01-02 15:04:05 MST"}}</font>
