🔐 <b>SSH Login Alert</b>

<b>Host:</b> <code>{{.Hostname}}</code>
<b>User:</b> <code>{{.Username}}</code>
<b>From IP:</b> <code>{{.IP}}</code>
<b>Client Port:</b> <code>{{.Port}}</code>
<b>Method:</b> <code>{{.Method}}</code>
<b>Time:</b> <code>{{.Time.Format "2006-01-02 15:04:05 MST"}}</code>
